
body, html {
	background: url('../imagens/backgroudbody.jpg');
	font-family: 'Merriweather';
}

.row-same-height {
  display: table;
  width: 100%;
  /* fix overflow */
  table-layout: fixed;
}

.text-center .img-responsive {
    margin: 0 auto;
}

.fb {
	color: #fff;
	font-size: 16px;
	text-align: center;
	background: #3b5a98;
	padding: 10px 2px;
	margin-bottom: 0;
	text-transform: uppercase;
}

.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
	width: 100% !important;
}

@media (max-width: 768px) {

	body {
		background: #fff;	
	}

	.container { padding: 0 !important; }
	.content { padding: 0 !important; }

	.noticias { margin: 0 !important; }

	.page {text-align: center !important; min-height: 100px !important;}

	.page-list {text-align: center !important; min-height: 100px !important;}
	
	.dizimista-velas .box { border: none  !important;}
	
	.col-xs-12 {
		padding-right: 0 !important;
	}

	.oculto-xs { display: none; }

	.title-galeria { display: none; }

	.artigo .box { margin-top: 10px !important; }

}

/* make sidebar nav vertical  */
@media (min-width: 768px) {	

	.col-sm-height {
    	display: table-cell;
    	float: none !important;
  	}

		
	.corpo { margin-top: 15px; }
	
	.content { background: #fff; margin-top: 10px; padding-bottom: 40px;}
	.all-content { margin-top: 20px;}

	.logo { margin-top: 20px; background: #3f4563; text-align: center;  border-radius: 15px 15px 0 0;}

	.sidebar-esquerda { background: #3f4563; border-radius: 15px 15px 0 0; }

}


	/*** HEADER ***/ 
  	.logo { background: #3f4563; text-align: center;}
	.logo p { color: #fff; font-size: 16px;}

	/************ INICIO  DE MENU ***	*********/ 
	.sidebar-nav .navbar .navbar-collapse { padding: 0; min-height: 100%; background: #3f4563;}
	.sidebar-nav .navbar ul {float: none; display: block;}
	.sidebar-nav .navbar li { float: none; display: block; }
	.sidebar-nav .navbar li a { padding-top: 3px; padding-bottom: 3px; }

	.menu .destaque { color: #fff !important; font-weight: bold; font-size: 16px; text-transform: uppercase; }
	.menu-destaque { margin-top: 20px; text-align: center;}
	.menu-destaque li a:hover { text-decoration: underline; }
	.navbar-default { border: none;}
	.navbar-nav a { color: #fff !important; font-size: 16px; text-transform: uppercase;}
	
	/************ FIM  DE MENU ************/ 

	/************ CONTEUDO ************/ 

	.busca { margin-top: 10px; }
	.busca button{ background: #15578a; color: #fff }
	.busca input { border-radius: 0; }

	.carousel { margin-top: 15px; }
	.carousel-caption { background: #3f4563; width: 100%; left: 0; bottom: 0; opacity: 0.56; text-align: left; padding: 5px;}
	.carousel-caption small { color: #fff; text-transform: uppercase; font-size: 14px; margin-left: 15px; }
	.carousel-caption h5 { font-weight: bold; margin-left: 15px; font-size: 18px; margin-top: 0; color: #fff; }
	.carousel-caption a { text-decoration: none; }
	.carousel-caption h5:hover { color: #ccc; cursor: pointer;}

	.noticias .box { border-right: 1px #f4f4f4 solid; margin-top:30px; }
	.noticias .box:nth-child(3) { border: none; }
	.noticias .box a { text-decoration: none; }
	.noticias .box .noticia-categoria { color: #3f4563; text-transform: uppercase; font-size: 12px;}
	.noticias .box p{ color: #9d3219; font-size: 16px;text-align: left; font-weight: bold; margin-bottom: 0;}	
	.noticias .box p:hover { color: #7e1d06; cursor: pointer; text-decoration: underline; }
	.noticias .box .noticia-data {  color: #9d3219; text-transform: uppercase; font-size: 12px;}

	.dizimista-velas  {margin: 20px 0 40px 0; background: #f4f4f4; text-align: center;}
	.dizimista-velas .box { border-right: 1px #fff solid; background: #f4f4f4;}
	.dizimista-velas .box:hover { background: #ccc;}
	.dizimista-velas .box:nth-child(4) { border: none; }
	.dizimista-velas .box img { margin: 10px auto; }
	.dizimista-velas .box p {color: #3f4563; font-size: 12px; }

	.artigo { margin: 20px 0; }
	.artigo .box { border-left: 3px #b3abab solid; }
	.artigo .box a { text-decoration: none; }
	.artigo .box .categoria-artigo {color: #9d3219; text-transform: uppercase; font-size: 12px; }
	.artigo .box .data-artigo { color: #585757; text-transform: uppercase; font-size: 14px; font-weight: 100; }
	.artigo .box p { color: #585757; font-size: 16px; text-align: left; font-weight: bold; margin-bottom: 0; }
	.artigo .box p:hover { text-decoration: underline; color: #3d3737;  }

	.galeria .title-galeria { width: 50%; margin-bottom: 30px; }
	.galeria .title-galeria h3 { background: #f4f4f4; font-size: 14px; text-align: center; font-weight: bold; color: #9d3219; padding: 10px; }
	.galeria .title-galeria a { float: right; margin-top: -10px; margin-right: -10px; border-radius: 0 5px 5px 0; background: #3f4563; border: 1px #3f4563 solid; }
	.galeria .title-galeria a:hover { background: #222a53; cursor: pointer; }
	.galeria .media-body .galeria-categoria { color: #3f4563; text-transform: uppercase; font-size: 12px;}
	.galeria .media-body p{ color: #9d3219; font-size: 16px;text-align: left; font-weight: bold; margin-bottom: 0;}	
	.galeria .media-body p:hover { color: #7e1d06; cursor: pointer; text-decoration: underline; }
	.galeria .data-galeria { color: #3f4563; text-transform: uppercase; font-size: 12px;}
	.galeria .box { border-left: 1px #edecec solid; }
	/************ FIM CONTEUDO ************/ 

	/************ SIDEBAR DIREITA ************/ 
	.sidebar-direita { margin-left: 10px;}
	.sidebar-direita h1 {  text-align: center; font-size: 18px; padding:10px 3px; border-radius: 0; width: 100%; 
						  background: #9d3219; color: #fff; text-transform: uppercase;}
	.sidebar-direita p { color: #0b5a66; text-align: center; font-size: 14px; }
	.sidebar-direita .button-avisos { float: right; text-transform: uppercase; background: #3f4563; border: 1px #3f4563 solid;}
	.sidebar-direita .button-avisos:hover {background: #222a53; cursor: pointer;}

	.nav-stacked li a { margin: 0; padding: 2px; text-align: left; color: #3f4563; font-size: 16px; 
		    border-left: 3px solid #3f4563; margin-top:5px; border-radius: 0; cursor: pointer; padding-left: 5px; }
	.nav-stacked li a:hover { background: none; color: #9d3219; border-left: 3px solid #9d3219;}

	.rodape { margin-top: 30px; font-size: 18px; color: #3f4563; font-weight: 100; }

	.page { color: #585757; min-height: 780px; }
	.page h2 { font-size: 26px; color: #3f4563; font-family: 'Merriweather', sans-serif; font-weight: bold; }
	.page h1, .page h3 { font-size: 20px; }
	.page p { margin: 15px 10px; line-height: 23px; text-align: justify; font-size: 14px; font-family: 'Merriweather', sans-serif; }
	.page img { border: 1px solid #ccc; padding: 3px; margin: 5px 10px 5px 0;  }
	.page caption { text-align: center; margin: 0; color: #484141; }
	.page table { text-align: center; margin-left: 30px; }
	.page hr { margin-bottom: 0; color: #ccc;  }
	.page .date { font-size: 12px; }

	.page-lirtugia { color: #585757; min-height: 780px; }
	.page-lirtugia h2 { font-size: 26px; color: #3f4563; font-family: 'Merriweather', sans-serif; font-weight: bold; }
	.page-lirtugia h1, .page-lirtugia h3 { font-size: 20px; }
	.page-lirtugia p {font-size: 14px; font-family: 'Merriweather', sans-serif; }
	.page-lirtugia .header { border-left: 3px solid #9d3219; border-right: 1px solid #ccc; margin-top: 5px; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding-bottom: 10px; margin-top: 20px;}
	.page-lirtugia .header .cor { float: right; }
	.page-lirtugia hr { margin-bottom: 0; color: #ccc;  }
	.page-lirtugia .date { font-size: 12px; }
	.leituras { margin-top: 30px;  }
	.leituras h3 { border-left: 1px solid #ccc; padding-left: 15px; }
	.leituras .cit_direita_italico { font-style: italic; margin:10px 0; text-align: right;  }
	.leituras .cit_direita { font-weight: bold; margin:10px 0; text-align: right; }
	.leituras .tabulacao { margin-left: 28px;margin-top: 20px;}
	.leituras .tab_num, .tab_num2, .tab_num3 { margin-left: 20px; margin-top: 10px; }
	.leituras .refrao_salmo { font-weight: bold; margin-bottom: 15px; }
	.leituras .negrito { font-weight: bold; margin-top: 10px; }
	.navegacao-lirtugia { margin-top: 10px; }
	.navegacao-lirtugia .left { float: left; margin-left: 10px; }
	.navegacao-lirtugia .right { float: right; margin-right: 10px; }

	.page-galeria { color: #585757; min-height: 780px; }
	.page-galeria h2 { font-size: 26px; color: #3f4563; font-family: 'Merriweather', sans-serif; font-weight: bold; }
	.page-galeria h1, .page h3 { font-size: 20px; }
	.page-galeria p { margin: 15px 10px; line-height: 23px; text-align: justify; font-size: 14px; font-family: 'Merriweather', sans-serif; }
	.page-galeria hr { margin-bottom: 0; color: #ccc;  }
	.page-galeria .date { font-size: 12px; }

	.page-list { min-height: 780px;  } 
	.page-list h2 { color: #3f4563; font-weight: bold;  }
	.page-list .box { margin-top: 10px; border-bottom: 1px solid #ccc; padding: 5px 0 10px 0; }
	.page-list .box img { border: 1px solid #ccc; padding: 3px; }
	.page-list .box a { text-decoration: none; color: #585757; font-size: 16px; font-weight: bold; }
	.page-list .box a:hover { text-decoration: underline; color: #403e3e; }
	.page-list .box .noticia-data { color: #585757;text-transform: uppercase;font-size: 14px;font-weight: 100;} 
	.page-list .paginate { text-align: center; }

	.oracao { color: #585757; min-height: 780px; }
	.oracao h2 { font-size: 26px; color: #3f4563; font-family: 'Merriweather', sans-serif; font-weight: bold; }
	.oracao .nome { font-weight: bold; font-size: 16px; text-align: center; }
	.oracao p { font-family: 'Merriweather' }
	.oracao .nav-tabs { margin-top: 30px;}
	.oracao .nav-tabs>li { width: 50%; background: #3f4563;}
	.oracao .nav-tabs>li a { color: #fff; font-weight: bold; text-align: center; margin-right: 0 !important;  }
	.oracao .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover 
	{ color: #3f4563; border: 1px solid #3f4563; border-radius: 0; }
	.oracao .form-control { border-radius: 0; }

	.avisos-semana { margin-top: 15px; }
	.avisos-semana a { border-radius: 0; width: 100%; background: #9d3219; color: #fff }

	#lirtugia li { background-color: #fff; }
	#lirtugia li a { color: #3f4563; }
	#lirtugia li a:hover { border-left: 4px solid #fff; }