@import url('reset.css');

body {
	background: #f6f6f6;
	font-family: "Times New Roman", Times, serif;
}

.title-2 {
	color: #720b0b;
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 3px;
	text-align: center;
	border-bottom: 1px solid #cecdce;
}

.title-thee {
	color: #720b0b;
	font-size: 18px;
	text-transform: uppercase;
}

/** TOP*/
.center {
	margin: 0 auto;
	width: 1055px;
}

.subHeader {
	margin-top: 30px;
	text-align: center;
}

.subHeader a {
	text-decoration: none;
}

.subHeader a:hover {
	text-decoration: underline;
}

.subHeader h2 {
	font-size: 20px;
	color: #63625e;
	font-family: "Times New Roman", Times, serif;
	font-weight: 100;
}

.subHeader h2 span {
	font-size: 16px;
	color: #720b0b;
}

.search {
	float: right;
	margin-top: -45px;
}

.search input[type=text] {
	padding: 3px 10px;
	width: 160px;
	height: 24px;
	border: 1px #d1c4c4 solid;
	font-size: 14px;
	color: gray;
}

.btn-search {
	float: right;
	height: 32px;
	width: 32px;
	background: #63625e;
	border: none;
}

/** SIDEBAR MENU LEFT **/

#siderbarLeft {
	float: left;
	width: 266px;
	min-height: 300px;
}

#siderbarLeft .logo {
	background: url(../Imagens/logoCastle.png) no-repeat;
	background-size: 268px 288px;
	min-height: 290px;
	margin-top: -40px;
}

#siderbarLeft .logo img {
	margin: 35px 11px;
}

#siderbarLeft .logo span {
	font-size: 14px;
	color: #fff;
	float: left;
	text-align: center;
	margin-top: -24px;
	margin-left: 35px;
}

#menu {
	float: left;
	width: 260px;
	margin: 2px 5px;
	background: #720b0b;
	height: 100%;
}

#menu ul {
	padding: 0;
	list-style: none;
}

#menu ul li {
	display: block;
	float: right;
	text-align: right;
	margin: 10px 0 5px 0;
}

#menu ul li a {
	text-transform: uppercase;
	font-size: 16px;
	color: #fff;
	text-decoration: none;
}

#menu ul li ul {
	margin-top: 15px;
	padding: 0;
	float: right;
}

#menu ul li ul li {
	display: block;
	margin: 1px;
	width: 232px;
	padding-right: 20px;
}

#menu ul li ul li a {
	color: #d3d3d3;
}

#menu ul li ul li a:hover {
	color: white;
	text-decoration: underline;
}

#menu .categoria {
	background: #bd0d0d;
	font-weight: bold;
	padding: 7px 20px 7px 5px;
	float: right;
	width: 235px;
}

/** CONTEUDO CENTRAL DA PAGINA INICIAL**/
#content {
	float: left;
	width: 560px;
	background: #fff;
	min-height: 860px;
}

#content .banner {
	float: left;
	width: 525px;
	height: 260px;
	background: #ccc;
	border: 2px solid #3f4563;
	margin: 10px 15px;
}


#content .noticias .box {
	width: 170px;
	float: left;
	margin-left: 15px;
	margin-top: 20px;
}

#content .noticias .box a {
	text-decoration: none;
}

#content .noticias .box h3:hover {
	text-decoration: underline;
}

#content .noticias .box img {
	border: 1px solid #ccc;
	padding: 2px;
}

#content .noticias .box h3 {
	color: #63625e;
	font-size: 16px;
	font-weight: bold;
	margin: 3px 0 3px 0;
}

#content .noticias .box span {
	font-size: 12px;
	color: #838383;
}

#content .reflexao {
	float: left;
	width: 360px;
	min-height: 100px;
	margin-top: 5px;
	margin-left: 15px;
}

#content .reflexao .box {
	width: 340px;
	min-height: 50px;
	margin-bottom: 20px;
}

#content .reflexao .box a {
	text-decoration: none;
	color: #838383;
}

#content .reflexao .box a:hover {
	text-decoration: underline;
}

#content .reflexao .box img {
	float: left;
	margin-right: 10px;
	border: 1px solid #ccc;
	padding: 3px;

}

#content .reflexao .box h2 {
	font-size: 16px;
	color: #63625e;
	font-weight: 400;
}

#content .anuncio {
	width: 525px;
	height: 135px;
	float: left;
	margin: 10px 20px;
	background: #ccc;
}

#content .fotos {
	float: left;
	width: 240px;
	margin: 10px 15px;
}

#content .fotos img {
	float: left;
	margin: 0 10px 10px 0;
	border: 1px solid #ccc;
	padding: 1px;
}

/** siderbarRight **/
#siderbarRight {
	float: right;
	width: 220px;
	min-height: 300px;
}

#siderbarRight .horario {
	min-height: 170px;
}

#siderbarRight p {
	font-size: 14px;
	color: #63625e;
	text-align: center;
	padding: 0 5px;
}

#siderbarRight .horario a {
	float: right;
	margin : 5px 10px;
	text-transform: uppercase;
	text-decoration: underline;
	color: #63625e;
}

#siderbarRight ul {
	display: block;
	padding: 0;
	list-style: none;
}

#siderbarRight ul li {
	display: block;
	margin-left: 15px;
}

#siderbarRight ul li a {
	text-decoration: none;
	text-transform: capitalize;
	font-size: 16px;
	text-align: left;
	color: #63625e;
}

#siderbarRight ul li a:hover {
	text-decoration: underline;
	color: #52514e;
}

#siderbarRight .enquete span {
	width: 180px;
	margin: 0 0 0 10px;
	float: left;
	color: #63625e;
	font-size: 18px;
}

#siderbarRight .enquete input[type=radio] {
	display: inline-block;
	float: left;
	margin-top: 4px;
	margin-left: 10px;
	cursor: pointer;
}

#siderbarRight .enquete input[name=votar] {
	margin-left: 10px;
	margin-top: 20px;
	color: #63625e;
	text-transform: uppercase;
}

#siderbarRight .enquete a {
	text-transform: capitalize;
	font-size: 18px;
	color: #63625e;
	text-decoration: none;
	margin-left: 10px;
}
#siderbarRight .enquete a:hover {
	text-decoration: underline;
	color: #52514e;
}

#siderbarRight .enquete p {
	font-size: 18px;
	text-align: left;
}

footer {
	margin-bottom: 20px;
	margin-left: 30px;
	float: left;
}

footer p {
	text-align: center;
	width: 100%;
	float: left;
	margin-top: 20px;
	color: #63625e;
	font-size: 18px;
}

/*** PAGE SINGLE **/

.titulo {
	text-align: left;
	color: #63625e;
	text-transform: capitalize;
	line-height: 100%;
	margin: 15px 10px 10px 20px;

}

.bread {
	width: 96%;
	margin-top: 10px;
	margin-left: 10px;
	border-bottom: 1px dashed #ccc;
	text-align: right;
}

.bread span {
	color: #ccc;
	text-transform: capitalize;
}

.body-single {
	margin: 15px 10px 10px 20px;
	text-align: justify;
}

.body-single p {
	color: #63625e;
	font-size: 16px;
}

.margin-10 {
	margin-top: 40px;
	margin-left: 20px;
}

.single {
	margin-top: 0;
	margin-bottom: 20px;
	float: left;
}

.page-list {
	background: red;
}
